/*cursor: wait;
*/
html, body {
  border: none;
}
.gradient {
  position: absolute;
  left: 0px;
  top: 0px;
  background: linear-gradient(-45deg, #400080, #26004d, #000, #000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  width: 100%;
}
.gradient2 {
  position: absolute;
  left: 0px;
  top: 100%;
  background: linear-gradient(-135deg, #400080, #26004d, #000, #000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -10;
}
.gradient3 {
  position: absolute;
  left: 0px;
  top: 200%;
  background: linear-gradient(-45deg, #400080, #26004d, #000, #000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -10;
}

.gradient4 {
	position: absolute;
  left: 0px;
  top: 300%;
  background: linear-gradient(-135deg, #400080, #26004d, #000, #000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  width:100%;
  overflow:hidden;
  z-index:-10;
}

.gradient5 {
	position: absolute;
  left: 0px;
  top: 400%;
  background: linear-gradient(-45deg, #400080, #26004d, #000, #000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  width:100%;
  overflow:hidden;
  z-index:-10;
}

.nom {
  color: white;
  position: absolute;
  text-decoration: underline;
  font-size: 40px;
  top: 25px;
  left: 5vw;
  font-family: Segoe UI;
  cursor: context-menu;
}
.description {
  color: white;
  position: absolute;
  text-decoration: none;
  font-size: 20px;
  top: 100px;
  left: 5vw;
  width: 40vw;
  font-family: Segoe UI;
  cursor: context-menu;
}
.contact {
  color: white;
  position: absolute;
  text-decoration: none;
  font-size: 20px;
  top: 225px;
  left: 5vw;
  width: 40vw;
  font-family: Segoe UI;
  cursor: context-menu;
}
.projet {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 15vh;
  left: 65vw;
  font-family: Segoe UI;
}
.projet1 {
  margin: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.projet2 {
  margin: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.projet3 {
  margin: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.projet4 {
  margin: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.date {
  color: white;
  font-size: 10px;
  font-family: Segoe UI;
  margin: 0px 0px 0px 1vw;
  transform: rotate(2deg);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
 }
  50% {
    background-position: 100% 50%;
 }
  100% {
    background-position: 0% 50%;
 }
}
.imageProjet01 {
  max-width: 100%;
  height: auto;
  z-index: 10;
}
a {
  color: white;
  display: inline-block;
  transition-duration: 0.25s;
  transition-property: transform;
  transform: rotate(-1deg);
}
a:hover {
  color: lightgrey;
  transform: rotate(5deg);
}
.title {
  color: white;
  position: absolute;
  font-size: 20px;
  left: 15vw;
  padding: 10px;
  font-family: Segoe UI;
}
@media (max-width: 847px) {
  .contact {
    top: 285px;
 }
}
@media (max-width: 591px) {
  .contact {
    top: 350px;
 }
}
@media (max-width: 472px) {
  .projet {
    top: 525px;
    left: 5vw;
 }
  .contact {
    width: 85vw;
    top: 375px;
 }
  .description {
    width: 85vw;
    top: 150px;
 }
  .projetPhotoshop {
    position: absolute;
    left: 0px;
    top: 750px;
    z-index: 10;
 }
}
@media (min-width: 848px) {
  .imageProjet01 {
    width: 848px;
    display: block;
    margin: auto;
    border-left: 1px solid white;
    border-right: 1px solid white;
 }
}
